@import url(fonts.css);
body {
    font-family: 'Gowun Dodum', sans-serif;
    height: 1000px;
    overflow: scroll;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

.header {
    text-align: center;
}

.header h1 {
    font-family: 'Nanum Gothic Coding', monospace;
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 0.5s, transform 0.5s;
    font-size: 1000%;
    margin-top: 10%;
}

.header-visible h1 {
    opacity: 1;
    transform: translateY(0);
}