@import url(fonts.css);
body {
    font-family: 'Gowun Dodum', sans-serif;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

.header {
    text-align: center;
    border: solid;
    padding: 3%;
    background-color: #2ECC71;
}

.header h1 {
    font-family: 'Nanum Gothic Coding', monospace;
}

.projects {
    background-color: #FFC300;
    text-align: center;
    border: solid;
    padding: 3%;
}

.ican {
    background-color: #FF881E;
    text-align: center;
    border: solid;
    padding: 2%;
}

.ican p {
    font-size: 150%;
}

.footer {
    background-color: #5DADE2;
    text-align: center;
    border: solid;
    padding: 2%;
}