@import url(fonts.css);
body {
    font-family: 'Gowun Dodum', sans-serif;
    height: 1000px;
    overflow: scroll;
    text-align: center;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

.header {
    text-align: center;
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 0.5s, transform 0.5s;
    margin-top: 10%;
}

.header h1 {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1000%;
}

.header-visible {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    text-align: center;
    margin-top: 10%;
}

.about {
    margin-top: 15%;
}

.mywork {
    margin-top: 15%;
}